<!-- 
  This page displays a summary of matches between current user and a friend, overall number of wins and loss as well as the history on each game. 
 -->

<!-- 
  The first loop checks if an overall record exists, then it will display the information described above.
-->
<div>

  <a href="/matches"><h2 class="page-heading"> << Back to overview</h2></a>
  <%= erb :show_flash %>
  <div class="col-md-12">
    <div class="panel panel-primary">
    <% if @me_overall_win > 0 || @me_overall_lose > 0 %>
      <div class="panel-heading">
        <h2 class="page-heading">Your overall record against <%= @friend.username %></h2>
      </div>
      <div class="panel-body summary">
        <div class="col-md-6">
          <h4>Wins: <%= @me_overall_win %></h4>
        </div>
        <div class="col-md-6">
          <h4>Loses: <%= @me_overall_lose %></h4>
        </div>
      </div>
    <% else %>
      <div class="panel-heading">
        <h2 class="page-heading">You do not have any record against <%= @friend.name %></h2>
      </div>
    <% end %>
    </div>
  </div>

<!-- 
 The second loop starts with checking if there at least a match exists between the players then display the recent 10 matches results between the players, tabulated in tables.
-->
<% @game_stats.each do |game, stats| %>
  <% if stats[:matches].size > 0 %>
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="page-heading"><%= game %><form class="reset-form" method="POST" action='/matches/user/reset'>
          <input type="hidden" name="game_id" value="<%= stats[:game] %>"> 
          <input type="hidden" name="friend_id" value="<%= @friend.id %>">
          <input type="submit" class="btn btn-lg btn-danger clear-fix reset-btn" value="Reset Record">
        </form></h2>
      </div>
      <div class="panel-body summary">
        <div class="col-md-6">
          <h4>Wins: <%= stats[:wins] %></h4>
        </div>
        <div class="col-md-6">
          <h4>Loses: <%= stats[:losses] %></h4>
        </div>
      </div>
      <h2 class="history-h2 page-heading">10 Most Recent Matches</h2>
      <div class="panel-body">
        <div class="col-md-8">
          <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Game Played On</th>
              <th>Result</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% stats[:matches].each_with_index do |match, index|%>
            <tr>
              <td><%= index+1 %></td>
              <td><%= match.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %F %T")%></td>
              <td><%= match.winner == current_user ? "WIN" : "LOSS"%></td>
              <td><a href="/match/edit/<%= match.id %>">Edit Record</a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>
        <div class="col-md-4">
          <img src="<%=stats[:picture]%>"class="img-rounded" alt="Cinque Terre" width="200">
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

  <a href="/matches/user/<%= @friend.id%>/all"><h3>Show all matches you played with <%= @friend.username %></h3></a>

</div>
