<div class="container-fluid">
  
  <a href="/matches"><h2>Back to overview</h2></a>
  <%= erb :show_flash %>
  <div class="col-md-12">
    <div class="panel panel-primary">
    <% if @me_overall_win > 0 || @me_overall_lose > 0 %>
      <div class="panel-heading">
        <h2>Your overall record against <%= @friend.name %></h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <% if @me_overall_win && @me_overall_win > 1 %>
            <h4><%= @me_overall_win %> Wins</h4>
          <% else %>
            <h4><%= @me_overall_win %> Win</h4>
          <% end %>
        </div>
        <div class="col-md-6">
          <% if @me_overall_lose && @me_overall_lose > 1 %>
            <h4><%= @me_overall_lose %> Losts</h4>
          <% else %>
            <h4><%= @me_overall_lose %> Lost</h4>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="panel-heading">
        <h2>You do not have any record against <%= @friend.name %></h2>
      </div>
    <% end %>
    </div>
  </div>

<% @game_stats.each do |game, stats| %>
  <% if stats[:matches].size > 0 %>
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2><%= game %><form method="POST" action='/matches/user/reset'>
          <input type="hidden" name="game_id" value="<%= stats[:game] %>"> 
          <input type="hidden" name="friend_id" value="<%= @friend.id %>">
          <input type="submit" class="btn btn-lg btn-danger clear-fix reset-btn" value="Reset Record">
        </form></h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <% if stats[:wins] && stats[:wins].size > 1 %>
            <h4><%= stats[:wins] %> Wins</h4>
          <% else %>
            <h4><%= stats[:wins] %> Win</h4>
          <% end %>
        </div>
        <div class="col-md-6">
          <% if stats[:losses] && stats[:losses].size > 1 %>
            <h4><%= stats[:losses] %> Loses</h4>
          <% else %>
            <h4><%= stats[:losses] %> Lose</h4>
          <% end %>
        </div>
      </div>
      <h2>Match History Last 10</h2>
      <div class="panel-body">
        <div class="col-md-8">
          <ol>
            <% stats[:matches].each do |match|%>
              <li>Game Played on: <%= match.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%A %F %T")%> | <%= match.winner == @me ? "WIN" : "LOSE" %> | <a href="/match/edit/<%= match.id %>">Edit Record</a>
            </li>
            <hr width="50%" align="left">
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>


<!-- <pre>
<%= @game_stats.inspect %>
</pre> -->

  <a href="/matches/user/<%= @friend.id%>/all"><h3>Show all matches you played with <%= @friend.name %></h3></a>

</div>
