<div class="container-fluid">
<!--
This is the heading of the matches page, it shows the overall record
of the logged in user. The full list of matches is loaded into the instance
variable and it is refined by narrowing down the list to those in which the
current user is in either the winner_id or loser_id
-->
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Your matches</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>Wins: <%= @matches.where(winner_id: current_user[:id]).count %></h4>
        </div>
        <div class="col-md-6">
          <h4>Loses: <%= @matches.where(loser_id: current_user[:id]).count %></h4>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2>Five Most Recent Friends Matches</h2>
        </div>
        <div class="panel-body">
          <% @matches_by_me.each do |matches| %>
            <div class="friend-matches">
              <div class="row">
                <div class="col-md-6">
                  <a href="/matches/user/<%= opponent(matches[0], current_user.id).id %>/all"><h2><%= opponent(matches[0], current_user.id).name %></h2></a>
                  <img src="<%= opponent(matches[0], current_user.id).picture_url %>" class="img-rounded" alt="Cinque Terre" width="200">
                </div>
                <div class="col-md-6">
                  <% matches.sort! { |a,b| b.created_at <=> a.created_at } %>
                <% matches.each_with_index do |match, i| %>
                  <% break if i == 5 %>
                  <h3><%= match.game.title %></h3>
                  <p>
                    Winner: <%= match.winner.name %>
                  </p>
                  <p>
                    Loser: <%= match.loser.name %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
